<div class="person">
  <div class="person-property person-name">{{person.name}}</div>
  <div class="person-property person-holding">{{person.holding}}</div>
  <div class="person-property person-eligible"><input type="text" [value]="person.eligibleFor" (input)="changeTicketAmount($event)" /></div>
  <div *ngIf="index == 0" class="person-property person-redeem"><button (click)="redeem()">Varaa</button></div>
  <div *ngIf="index == 0" class="person-property person-skip"><button (click)="skip()">Ohita</button></div>
  <div *ngIf="person.tickets > 0" class="person-property person-free"><button (click)="return()">Vapauta</button></div>
</div>