Lippuja vapaana: {{available}}

<div id="person-title-row">
    <div class="person-property person-name">Nimi</div>
    <div class="person-property person-holding">Hallussa</div>
    <div class="person-property person-eligible">Oikeutettu</div>
    <div class="person-property person-redeen">Varaa</div>
</div>

<div id="person-list-container">
  <div *ngFor="let person of haippiList; let i = index" [attr.data-index]="i">
    <app-haippi-item [person]="person" [index]="i"></app-haippi-item>
  </div>
</div>

