#tickets-available {
    font-size: 22px;
    padding: 20px;
}

#person-table-container {
    #person-table {
        width: 40%;
        margin: auto;
        text-align: center;

        td, th {
            text-align: left;
        }

        td .person-skip {
            margin-left: 5px;
        }
    }
}