<div id="tickets-available">Lippuja vapaana: <strong>{{available | async}}</strong></div>

<div id="person-table-container">
  <table id="person-table" class="table table-striped table-borderless">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Hallussa</th>
        <th scope="col">Oikeutettu</th>
        <th scope="col">Varausmäärä</th>
        <th scope="col">Toiminto</th>
      </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-success': i == 0}" *ngFor="let person of haippiList; let i = index" [attr.data-index]="i" app-haippi-item></tr>
    </tbody>
  </table>
</div>